**/venv
**/.venv
**/__pycache__
**/*.exe
**/*.parquet
**/*.arrow
certs*/
./public/*
**/.env
**/unsloth_compiled_cache/
data/*
**/node_moduless
names.txt
crawl/log/*
Llama-3.2-1B-Instruct-HyperMixSub
finetuned/
scripts/example/abstract.txt
scripts/example/highlight.txt
scripts/example/message.txt
logs/
emissions/