**/venv
**/.venv
**/__pycache__
**/*.exe
**/*.parquet
**/*.arrow
certs*/
public/
**/.env
**/unsloth_compiled_cache/
data/*
**/node_moduless
crawl/log/*
Llama-3.2-1B-Instruct-HyperMixSub
checkpoints/
data/
logs/
emissions/
pretrained/
keys.txt
.idea
.vscode
