<!DOCTYPE html>
<html>
  <head>
    <title>PG - LLaMA Demo Appplication</title>
    <link rel="stylesheet" href="/public/styles.css" />
    <style></style>
  </head>

  <body>
    <header>
      <nav>Navbar</nav>
    </header>
    <h1>Hello World</h1>

    <main>
      <section>
        <form name="summarization-form" id="summarization-form">
          <textarea rows="20"></textarea>
          <button type="submit">Submit</button>
        </form>
      </section>
      <section></section>
    </main>
  </body>
</html>
